/*
position: static: Es la posición por defecto de todos los elementos en una página web. 
Los elementos con esta posición se colocan en el flujo normal del documento y no se ven afectados 
por las propiedades top, bottom, left y right.

position: relative: Los elementos con esta posición se colocan en relación a su posición normal 
en el flujo del documento. Puedes mover estos elementos utilizando las propiedades top, bottom, left y right, 
pero no los sacarás de su posición normal en el flujo del documento. Otros elementos en la página se seguirán 
comportando como si el elemento relativo siguiera en su posición normal.

position: absolute: Los elementos con esta posición se colocan en una posición absoluta con respecto 
a su elemento padre más cercano que tenga una posición no estática. Puedes mover estos elementos 
utilizando las propiedades top, bottom, left y right, y se sacarán del flujo normal del documento, 
lo que significa que otros elementos en la página se comportarán como si el elemento absoluto no estuviera allí. 
Si no hay ningún elemento padre con una posición no estática, se colocará en relación a la ventana del navegador.
*/

html {   
    min-width: 320px;   
    max-width: 1400px; 
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    width: 940px; /* Porque comunmente las pantallas tienen 1280px de formato, 70% de la pantalla */
    position: relative;
    margin: 0 auto; /* 'auto' sirve para poder darle un margen automatico a la der. por ende tambien a la izq.*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* arriba derecha abajo izquierda */
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #ffa600;
    text-decoration: underline; /* subrayado */
}

/*****************************/

.banner{
    width: 100%;
}

.principal{
    padding: 50px 60px;
    background: #CCCCCC;
    font-size: 1.1em;
    width: 85%;
    margin: 3em auto;
    border-radius: 20px;
}

.titulo-principal {
    font-size: 2em; /* 2em = 2 veces el tamaño padron que tiene el navegador (15px default, depende el navegador) */
    margin: 0 0 1em; /* arriba derecha abajo */
    padding-left: 30px;
    text-align: center;
    clear: left; /* Limpia la izquierda para que la imagen no tome espacio vertical sobre el titulo */
}

.principal img {
    width: calc(10% + 15px);
    float: left;    /* float: left le permite ser un elemento flotante que se combina con el resto de elementos */
    margin: 0 2em 2em 0; /* arriba derecha abajo izquierda (SENTIDO AGUJAS HORARIO RELOJ) */
    box-shadow: #000000 10px;
    border-radius: 99%;
}

.principal > img ~ p {  /* Pertenecientes de '.principal', especificamente 'img', dame todos los elementos 'p' que esten despues del 'img'  */
    text-align: center;
}

.principal strong {
    font-weight: bold;
}

.principal .mision {
    font-style: italic;
    font-size: 1em;
    text-align: center;
    margin: 1em auto;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa p {
    margin: 0 0 2em 0;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #888888;
}

.diferenciales h3 {
    font-size: 1.7em;
    font-style: bold;
    color: #FFFFFF;
    margin-bottom: 1em;
    text-align: center;
}

.diferenciales-contenido {
    width: 740px;
    margin: 0 auto;
}

.diferenciales-contenido > ul { 
    width: 40%;
    margin-top: 2.5em;
    font-size: 1.2em;
    color: #FFFFFF;
    display: inline-block;  /* DISPLAY INLINE-BLOCK: Le pedimos que solo el espacio de su contenido, los elementos html deben estar juntos uno del otro */
                            /* DISPLAY BLOCK: Hace un salto de linea por cada elemento */
    vertical-align: top;
}

.diferenciales-contenido ul > li {  /* Pertenecientes a 'ul', dame los elementos 'li' */
    font-style: italic;
    line-height: 1.5;   /* distancia entre items */
}

.diferenciales-contenido li:first-child { /*pseudoclase = first-child, hace referencia al primer elemento*/
    font-weight: bold;
}

.diferenciales-contenido li:before {
    content:"★ "
}

.diferenciales-contenido > ul + img {   /* Pertenecientes a '.diferenciales-contenido', dame los elementos 'img' que continuen luego de un elemento 'ul' */
    width: calc(60% - 5px);
    border-radius: 5px;
}

.video {
    width: 727px;
    margin: 7em auto;
}

/************************************/

footer {
    background: url(../img/bg.jpg);
    text-align: center;
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}