html {   
    min-width: 320px;   
    max-width: 1400px; 
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    width: 940px; /* Porque comunmente las pantallas tienen 1280px de formato, 70% de la pantalla */
    position: relative;
    margin: 0 auto; /* 'auto' sirve para poder darle un margen automatico a la der. por ende tambien a la izq.*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* arriba derecha abajo izquierda */
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    transition: 300ms;
}

nav a:hover {
    color: #ffa600;
}

/*******************************************************************/

main {
    width: 940px;
    margin: 0 auto;
}

/* How can i center items inside on a form in css html? 
*/

form {
    margin: 40px 0;
    display: block;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 30px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ffa600;
    border: none;
    border-radius: 10px;
    transition: 1s all; /* all = 1 seg de transición para TODOS los elementos */
}

.enviar:hover {
    background-color: #b6801b;
    transform: scale(1.1); 
    cursor: pointer;
}

table {
    margin: 40px 90px;
}

thead {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #555555;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*******************************************************************/  

footer {
    background: url(../img/bg.jpg);
    text-align: center;
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width:480px){ /* un estilo diferente para dispositivos de hasta 480 píxeles de ancho usando media query */
    
    h1{
        text-align: center;
    }
    
    nav {
        position: static;
    }

    nav a {
        font-size: 1.2em;
    }

    .caja {
        width: auto;
    }

    main {
        width: auto;
    }

    .input-padron {
        display: block;
        margin: 1em auto;
    }

    form fieldset {
        margin: 2em auto;
    }

    table {
        margin: 1em auto;
        width: 70%
    }
}